.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: flex-end;
  }
}

.list-social__item .icon {
  height: 2.5rem;
  width: 2.5rem;
}

.list-social__link {
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  color: #fff;
  display: inline-flex;
  padding: 0.5rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
